header, section {
    background-color: white;
}

.logo {
    width: 10%;
    height: 10%;
}

.colorBtn{
    color:orange;
}

.headerBack{
    background-image: url("images/header.jpg");
}

.footerBack{
    background-color: white;
}

.imgSlideSize{
    width: 50%;
    height: 25%;
}
.backCarousel{
    background-color: white;
}

.para_justify
{
    text-align: justify;
}

.bouton_titre1
{
    color: #F36C21;
    background-color: #024D8E;
    width: 25%;
    height: 50px;
}

.bouton_titre2
{
    color: #F36C21;
    background-color: #024D8E;
    width: 30%;
    height: 50px;
}

.text_bleu
{
    color: #024D8E;
}

.conteneur_jour
{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
}

.conteneur_1
{
    display: flex;
      flex-direction: row;
      justify-content: space-between;
}
.element
{
    border: 0.001em solid #E2E3E8;
    width: 50%;
    height: 20px;
}

.element_heure
{
    width: 50%;
    height: 20px;
}

.adultes 
{
    background-color: yellow;
}

.adolescents
{
    background-color: green;
}

.enfants
{
    background-color: blue;
}

.footer_planning
{
    display: flex;
    justify-content: space-around;
}

/*début agenda */

.Agenda{
    background-color: white;
}


.table td, .table th, .table tr {
    border-top : 0;
}

.table{
    width: 60%;
    max-width: 60%;
}

.table tr {
    border-bottom : none;
    border: none;
}

.card{
    flex-direction: initial;
    border-style: none;
}

/* fin agenda */

.Equipe{
    background-color: white;
    
}

